<a href="{{ service.link }}" class="service-item">
    <div class="service-item-background">
        <picture>
            <source srcset="{{ service.image_mobile }}" media="(max-width: 767px)">
            <img src="{{ service.image }}" alt="">
        </picture>
    </div>
    <div class="container service-item-container">
        <div class="service-item__letter">{{ service.letter }}</div>
        <div class="service-item__text">
            <div class="service-item__title">{{ service.title | raw }}</div>
            <div class="service-item__description">{{ service.description | raw }}</div>
        </div>
        <svg width="32" height="32" class="service-item__arrow">
            <use xlink:href="/assets/img/arrows/round-arrows.svg#right"></use>
        </svg>
    </div>
</a>