<div class="top-header-placeholder"></div>
<div class="top-header">
    <div class="container">
        <a href="/" class="top-header__logo-link">
            <img src="/assets/img/logo-big.svg" alt="" class="top-header__logo--desktop">
            <img src="/assets/img/logo-small.svg" alt="" class="top-header__logo--mobile">
        </a>
    </div>
</div>

<button type="button" class="burger-button">
    <span></span>
</button>

<header class="header">
    <div class="container nav-container">
        <div class="top-nav"></div>
        <nav class="nav">
            <ul>
                <li><a href="/about" {{ activeMenuItem == 'about'?'class="active"':'' }}>О нас</a></li>
                <li><a href="/services" {{ activeMenuItem == 'services'?'class="active"':'' }}>Услуги</a></li>
                <li><a href="/projects" {{ activeMenuItem == 'projects'?'class="active"':'' }}>Проекты</a></li>
                <li><a href="#">Партнёры</a></li>
                <li><a href="/news" {{ activeMenuItem == 'news'?'class="active"':'' }}>Новости</a></li>
                <li><a href="/career" {{ activeMenuItem == 'career'?'class="active"':'' }}>Карьера</a></li>
                <li><a href="/contacts" {{ activeMenuItem == 'contacts'?'class="active"':'' }}>Контакты</a></li>
            </ul>
        </nav>
        <div class="lang-switcher">
            <a href="/en/" class="lang-button">EN</a>
            <a href="/kz/" class="lang-button">KAZ</a>
            <a href="/ru/" class="lang-button lang-button--active">RU</a>
        </div>
        <div class="bottom-nav">
            {% include 'components/socials.html.twig' %}
            {% include 'components/copyright.html.twig' %}
        </div>
    </div>
</header>
